WOA2018datawrangling/WOA2018/
phydra_OSM/phydra/mld_mindtr02_l3_nc3.nc
phydra_OSM/phydra/ChlAclimatology_MODISaqua_L3_nc3.nc
phydra_OSM/phydra/Nitrate_WOA_tmld_test03_nc3.nc
phydra_OSM/phydra/NitrateAboveMLD_WOA_tmld_test01_nc3.nc
phydra_OSM/phydra/PARclimatology_MODISaqua_L3_nc3.nc
phydra_OSM/phydra/Phosphate_WOA_tmld_test03_nc3.nc
phydra_OSM/phydra/PhosphateAboveMLD_WOA_tmld_test01_nc3.nc
phydra_OSM/phydra/Silicate_WOA_tmld_test02_nc3.nc
phydra_OSM/phydra/SilicateAboveMLD_WOA_tmld_test02_nc3.nc
phydra_OSM/phydra/Temp_WOA_tmld_test02_nc3.nc
xarray-simlab-experiments/ASTroCAT_1y_x100res.nc
xarray-simlab-experiments/NEW_ASTroCAT_10yearoutput_x30res.nc
xarray-simlab-experiments/NEW_ASTroCAT_10yearoutput_x70res.nc
xarray-simlab-experiments/.ipynb_checkpoints/ASTroCAT_clone_01-checkpoint.ipynb
phydra_OSM/phydra/Kostadinov_C_biomass_microplankton.nc
phydra_OSM/phydra/Kostadinov_C_biomass_nanoplankton.nc
phydra_OSM/phydra/Kostadinov_C_biomass_picoplankton.nc
phydra_OSM/phydra/Kostadinov_C_biomass_total.nc
phydra_OSM/phydra/Kostadinov_Composite_standard_deviation_C_biomass_microplankton.nc
phydra_OSM/phydra/Kostadinov_Composite_standard_deviation_C_biomass_nanoplankton.nc
phydra_OSM/phydra/Kostadinov_Composite_standard_deviation_C_biomass_picoplankton.nc
phydra_OSM/phydra/Kostadinov_Composite_standard_deviation_C_biomass_total.nc
phydra_OSM/SizeSpectralSlab/SSS_token_tropical.obj
phydra_OSM/SizeSpectralSlab/SSS_token_temperate.obj
phydra_OSM/FIRSTRESULTS_draft/04_Size_slab/SSS_token_tropical.obj
phydra_OSM/FIRSTRESULTS_draft/04_Size_slab/SSS_token_temperate.obj
